<div class="container">
  <div class="searchBar">
    <input type="text" class="form-control" placeholder="Search for something..." [(ngModel)]="term">
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="headers">
        <th class="gridTh">Id</th>
        <th class="gridTh">First name</th>
        <th class="gridTh">Last name</th>
        <th class="gridTh">Email</th>
        <th class="gridTh">Job</th>
        <th class="gridTh">Phone number</th>
        <th class="gridTh">Description</th>
        <th class="gridTh">Details</th>
        <th class="gridTh">Edit</th>
        <th class="gridTh">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people | filter : term">
        <td class="gridTd">{{ person.id }}</td>
        <td class="gridTd">{{ person.firstName }}</td>
        <td class="gridTd">{{ person.lastName }}</td>
        <td class="gridTd">{{ person.email }}</td>
        <td class="gridTd">{{ person.job }}</td>
        <td class="gridTd">{{ person.phoneNumber }}</td>
        <td class="gridTd">{{ person.description }}</td>
        <td class="gridTd">
          <button class="btn btn-success ml-2" [routerLink]="['/details', person.id]">Details</button>
        </td>
        <td class="gridTd">
          <button class="btn btn-primary ml-2" (click)="editPerson(person) ">Edit</button>
        </td>
        <td class="gridTd">
          <button class="btn btn-danger ml-2" (click)="deletePerson(person) ">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

