* {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.searchBar {
    margin: 20px auto;
    width: 300px;
    max-width: 400px;
    height: 40px; 
    text-align: center; 
    border: 1px solid black;
    border-radius: 4px;
}
.searchBar:hover {
    border-color: blue;
}

table {
    font-size: 20px;
}

.headers th {
    background-color: #11305e;
    border: 2px solid rgb(141, 129, 129);
    color: white;
    vertical-align: center;
    text-align: center;
}

table, tr, td {
    margin-left: -10px;
    border: 2px solid rgb(141, 129, 129);
    padding: -10 25px;
}

td {
    background-color: #c0dce9;
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 1200px) {
    table, tr, th, td {
        font-size: 15px;
    }
}

@media screen and (max-width: 1030px) {
    table, tr, th, td {
        border: none;
    }

    .searchBar {
        max-width: 300px;
    }

    .gridTd {
        display: grid;
        grid-template-columns: 1fr;
    }
    .gridTh {
        display: none;
    }

    .gridTd:last-child {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 290px) {
    .searchBar {
        margin-left: 20px;
    }
}

@media screen and (max-width: 325px) {
    table, tr, th, td {
        border: none;
    }

    tr, .gridTd {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
}
